<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading_screen.css') }}">
</head>
<body>
    <div id="logo">
        <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Silent Net Logo" class="logo">
    </div>

    <div id="loading-window">
        <h2>Connecting to Silent Net...</h2>
        <div class="spinner"></div>
        <div class="button-group">
            <button class="connect-btn" onclick="manualConnect()">Try to Connect</button>
            <button class="exit-btn" onclick="exitProgram()">Exit</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/loading_screen.js') }}"></script>
</body>
</html>