<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connected Clients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/name_screen.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Silent Net Logo" class="logo">
    <button class="refresh-btn" onclick="location.reload();">Refresh Users</button>
    <button class="exit-btn" onclick="window.location.href='/exit'">Exit</button>
    <div id="tooltip" class="tooltip"></div>
    <div class="container">
        {% for name, activity in name_list %}
        <form action="/stats_screen" method="get" style="margin-left: 90px;">
            <input type="hidden" name="client_name" value="{{ name }}">
            <button class="button" type="submit" onmouseover="showTooltip('{{ name }}')" onmouseout="hideTooltip()" style="background-color: rgb({{ 255 - (activity * 2.55) }}, {{ activity * 2.55 }}, 0);">
                {{ name[:18] }}{% if name|length > 18 %}...{% endif %}
            </button>
        </form>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/name_screen.js') }}"></script>
</body>
</html>