<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silent Net</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/opening_screen.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Silent Net Logo" class="logo">
    <div class="password-container">
        <form method="POST" action="/check_password">
            <input type="password" class="password-input" name="password" placeholder="Enter Password">
            <button type="submit" class="submit-button">Submit</button>
        </form>
        <div class="error-message" id="error-message">
            Incorrect password. Please try again.
        </div>
    </div>
    <button class="exit-btn" onclick="window.location.href='/exit'">Exit</button>
    <script src="{{ url_for('static', filename='js/opening_screen.js') }}"></script>
</body>
</html>