<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats_screen.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
</head>
<body>
    <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo" class="logo">
    <button class="return-btn" onclick="window.location.href='/employees'">Return</button>
    <div class="client-name-container">
        Client: <span id="clientName">{{ client_name }}</span>
    </div>
    <div class="name-change-container">
        <input type="text" id="newClientName" placeholder="Enter new client name">
        <button onclick="changeClientName()">Change Name</button>
    </div>
    <div class="container">
        <div class="card" id="processes">
            <h3>Processes Usage</h3>
            <div class="chart-container">
                <canvas id="processChart"></canvas>
            </div>
        </div>
        <div class="card" id="inactivity">
            <h3>Inactive Periods</h3>
            <div class="chart-container">
                <canvas id="inactivityChart"></canvas>
            </div>
        </div>
        <div class="card" id="cpu_usage" style="grid-column: span 2;">
            <h3>CPU Usage</h3>
            <div class="chart-container">
                <canvas id="cpuUsageChart"></canvas>
            </div>
        </div>
        <div class="card" id="wpm">
            <h3>Words Per Minute (WPM)</h3>
            <div class="chart-container">
                <div class="wpm-number">
                    {{ stats.wpm }}
                </div>
            </div>
        </div>
        <div class="card" id="ips">
            <h3>IP Usage</h3>
            <div class="chart-container">
                <canvas id="ipsChart"></canvas>
            </div>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="expanded-card" id="expandedCard">
        <button class="close-btn" onclick="closeExpandedCard()">X</button>
    </div>

    <script type="text/javascript">
        const stats = {{ stats | tojson | safe }};
    </script>

    <script src="{{ url_for('static', filename='js/stats_screen.js') }}"></script>
</body>
</html>